{# All Nunjucks macros defined here at the top #}
{% macro cellSourceLogo(type) %}
    {% if type == "URL" %}
        <span></span>
    {% elseif type == "NeuroMorpho" %}
        <img width="40px" title="NeuroMorpho.Org Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/NeuroMorpho.png"/>
    {% elseif type == "ModelDB" %}
        <img width="40px" title="ModelDB Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/ModelDB.png"/>
    {% elseif type == "OSB" %}
        <img width="40px" title="Open Source Brain Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/OSB.png"/>
    {% elseif type == "AllenBrain" %}
        <img width="40px" title="Allen Brain Atlas Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/AllenBrain.png"/>
    {% elseif type == "BioModels" %}
        <img width="40px" title="BioModels Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/BioModels.png"/>
    {% else %}
        <img width="40px" title="EBRAINS Knowledge Graph Entry" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/logos/KG.png"/>
    {% endif %}
{% endmacro %}
{% macro sectionMorphology(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["data"] %}
                            <tr>
                                <td style="width: 50px; padding-right: 15px;">
                                    {{ cellSourceLogo(type=item["type"]) }}
                                </td>
                                <td>
                                    {{ item["label"] }}
                                </td>
                                <td
                                    style="width: 175px">
                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                    {% if item["url"] != item["view_url"] %}
                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                            <i class="material-icons left">archive</i>Download
                                        </a>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                </td>
                                <td style="width: 175px">
                                    {% if item["view_url"] %}
                                        <a href='{{ item["view_url"] }}' target="_blank" class="waves-effect waves-light">
                                            <i class="material-icons left">3d_rotation</i>View
                                        </a>
                                    {% elseif (".swc" in item["url"].toLowerCase()) or (".asc" in item["url"].toLowerCase()) %}
                                        <a href='https://neuroinformatics.nl/HBP/morphology-viewer-dev/?url={{ item["url"] }}' target="_blank" class="waves-effect waves-light">
                                            <i class="material-icons left">3d_rotation</i>View
                                        </a>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionMorphologyWithTabs(data, index) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div class="collapsible">
                <div class="row">
                    <div class="col s12" style="padding-left: 0px;padding-right: 0px;">
                        <ul class="tabs" style="width: 100%;background-color: #FFD878;">
                            {% for tab in data["tabs"] %}
                                <li class="tab col s3">
                                    <a href='#res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' style="color: #000000;">{{ tab }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for tab in data["tabs"] %}
                    <div id='res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' class="col s12">
                        <div style="margin-left:25px">
                            <table class="striped">
                                <tbody>
                                    {% for item in data["data"] %}
                                        {% if (item["tab_name"] == tab) or ((tab=="no tab name") and (item["tab_name"] == "")) %}
                                            <tr>
                                                <td style="width: 50px; padding-right: 15px;">
                                                    {{ cellSourceLogo(type=item["type"]) }}
                                                </td>
                                                <td>
                                                    {{ item["label"] }}
                                                </td>
                                                <td
                                                    style="width: 175px">
                                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                                    {% if item["url"] != item["view_url"] %}
                                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                                            <i class="material-icons left">archive</i>Download
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                                <td style="width: 175px">
                                                    {% if item["view_url"] %}
                                                        <a href='{{ item["view_url"] }}' target="_blank" class="waves-effect waves-light">
                                                            <i class="material-icons left">3d_rotation</i>View
                                                        </a>
                                                    {% elseif (".swc" in item["url"].toLowerCase()) or (".asc" in item["url"].toLowerCase()) %}
                                                        <a href='https://neuroinformatics.nl/HBP/morphology-viewer-dev/?url={{ item["url"] }}' target="_blank" class="waves-effect waves-light">
                                                            <i class="material-icons left">3d_rotation</i>View
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionTraces(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div ng-app="neo-visualizer">
                <ul class="collapsible expandable">
                    {% for item in data["data"] %}
                        <li>
                            <div class="collapsible-header" style="align-items: baseline">
                                <span style="width: 50px; padding-right: 15px;">
                                    {{ cellSourceLogo(type=item["type"]) }}
                                </span>
                                {{ item["label"] }}</div>
                            <div class="collapsible-body">
                                <span>
                                    <visualizer-view source='{{ item["url"] }}' height="300"></visualizer-view>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionTracesWithTabs(data, index) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div ng-app="neo-visualizer">
                <div class="collapsible">
                    <div class="row">
                        <div class="col s12" style="padding-left: 0px;padding-right: 0px;">
                            <ul class="tabs" style="width: 100%;background-color: #FFD878;">
                                {% for tab in data["tabs"] %}
                                    <li class="tab col s3">
                                        <a href='#res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' style="color: #000000;">{{ tab }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% for tab in data["tabs"] %}
                        <div id='res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' class="col s12">
                            <ul class="collapsible expandable">
                                {% for item in data["data"] %}
                                    {% if (item["tab_name"] == tab) or ((tab=="no tab name") and (item["tab_name"] == "")) %}
                                        <li>
                                            <div class="collapsible-header" style="align-items: baseline">
                                                <span style="width: 50px; padding-right: 15px;">
                                                    {{ cellSourceLogo(type=item["type"]) }}
                                                </span>
                                                {{ item["label"] }}</div>
                                            <div class="collapsible-body">
                                                <span>
                                                    <visualizer-view source='{{ item["url"] }}' height="300"></visualizer-view>
                                                </span>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionModels(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["data"] %}
                            <tr>
                                <td style="width: 50px; padding-right: 15px;">
                                    {{ cellSourceLogo(type=item["type"]) }}
                                </td>
                                <td>
                                    {{ item["label"] }}
                                </td>
                                <td
                                    style="width: 175px">
                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                    {% if item["url"] != item["view_url"] %}
                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                            <i class="material-icons left">archive</i>Download
                                        </a>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                </td>
                                <td style="width: 175px">
                                    {% if item["view_url"] %}
                                        <a href='{{ item["view_url"] }}' target="_blank" class="waves-effect waves-light">
                                            <i class="material-icons left">pageview</i>View
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionModelsWithTabs(data, index) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div class="collapsible">
                <div class="row">
                    <div class="col s12" style="padding-left: 0px;padding-right: 0px;">
                        <ul class="tabs" style="width: 100%;background-color: #FFD878;">
                            {% for tab in data["tabs"] %}
                                <li class="tab col s3">
                                    <a href='#res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' style="color: #000000;">{{ tab }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for tab in data["tabs"] %}
                    <div id='res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' class="col s12">
                        <div style="margin-left:25px">
                            <table class="striped">
                                <tbody>
                                    {% for item in data["data"] %}
                                        {% if (item["tab_name"] == tab) or ((tab=="no tab name") and (item["tab_name"] == "")) %}
                                            <tr>
                                                <td style="width: 50px; padding-right: 15px;">
                                                    {{ cellSourceLogo(type=item["type"]) }}
                                                </td>
                                                <td>
                                                    {{ item["label"] }}
                                                </td>
                                                <td
                                                    style="width: 175px">
                                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                                    {% if item["url"] != item["view_url"] %}
                                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                                            <i class="material-icons left">archive</i>Download
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                                <td style="width: 175px">
                                                    {% if item["view_url"] %}
                                                        <a href='{{ item["view_url"] }}' target="_blank" class="waves-effect waves-light">
                                                            <i class="material-icons left">pageview</i>View
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionGeneric(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["data"] %}
                            <tr>
                                <td>
                                    {{ item["label"] }}
                                </td>
                                <td
                                    style="width: 175px">
                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                    {% if item["url"] != item["view_url"] %}
                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                            <i class="material-icons left">archive</i>Download
                                        </a>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                </td>
                                <td style="width: 175px">
                                    {% if item["view_url"] %}
                                        <a href='{{ item["view_url"] }}' target=" _blank" class="waves-effect waves-light">
                                            <i class="material-icons left">pageview</i>View
                                        </a>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionGenericWithTabs(data, index) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div class="collapsible">
                <div class="row">
                    <div class="col s12" style="padding-left: 0px;padding-right: 0px;">
                        <ul class="tabs" style="width: 100%;background-color: #FFD878;">
                            {% for tab in data["tabs"] %}
                                <li class="tab col s3">
                                    <a href='#res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' style="color: #000000;">{{ tab }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for tab in data["tabs"] %}
                    <div id='res_{{ index }}_tab_{{ tab|replace(" ", "_") }}' class="col s12">
                        <div style="margin-left:25px">
                            <table class="striped">
                                <tbody>
                                    {% for item in data["data"] %}
                                        {% if (item["tab_name"] == tab) or ((tab=="no tab name") and (item["tab_name"] == "")) %}
                                            <tr>
                                                <td>
                                                    {{ item["label"] }}
                                                </td>
                                                <td
                                                    style="width: 175px">
                                                    {# if 'url' isn't specified, then 'view_url' is copied into it. KG schema requirements. #}
                                                    {% if item["url"] != item["view_url"] %}
                                                        <a href='{{ item["url"] }}' class="waves-effect waves-light">
                                                            <i class="material-icons left">archive</i>Download
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                                <td style="width: 175px">
                                                    {% if item["view_url"] %}
                                                        <a href='{{ item["view_url"] }}' target=" _blank" class="waves-effect waves-light">
                                                            <i class="material-icons left">pageview</i>View
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
{% endmacro %}
{% macro sectionCustom(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{ data["icon"] }}</i>
            {{ data["title"] }}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                {{ data["description"] | safe }}
                <br/>
            {% endif %}
            <div style="margin-left:25px">
                {{ data["data"] | safe }}
            </div>
        </div>
    </li>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if page_title %}
                {{ page_title }}
            {% else %}
                Page Title
            {% endif %}
        </title>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/css/live_paper.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/src/visualizer.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/src/services.js"></script>
        <script>
            $(document).ready(function () {
                $(".collapsible").collapsible({accordion: false});
                $(".tabs").tabs();
            });
        </script>
        <link rel="stylesheet" href="https://unpkg.com/katex@0.10.0/dist/katex.min.css"/>
    </head>
    <body class="container">
        <div class="box rounded centered">
            <div style="text-align:center; color:black; display:inline-block">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img classname="ebrains-icon-small" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/EBRAINS_live_papers/resources/imgs/ebrains_logo.png" alt="EBRAINS logo" style="width:25px; height:25px;"/>
                            </td>
                            <td>
                                <span class="title-style subtitle" style="padding-left:5px;">
                                    EBRAINS Live Papers
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="title-style">
                {% if associated_paper_title %}
                    {{ associated_paper_title }}
                {% else %}
                    To be filled...
                {% endif %}
            </h5>
        </div>
        <div>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Authors:
                            </strong>
                        </td>
                        <td>
                            {% if authors_string %}
                                {{ authors_string | safe }}
                            {% else %}
                                To be filled...
                            {% endif %}
                        </td>
                    </tr>
                </table>    
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Affiliations:
                            </strong>
                        </td>
                        <td>
                            {% if affiliations_string %}
                                {# {{ affiliations_string | safe }} #}
                                {% set affiliations_list = affiliations_string.split(';;') %}
                                {% for aff in affiliations_list %}
                                    <p style="padding-left: 2em; text-indent:-2em">{{ aff | safe }}<p/>
                                {% endfor %} 
                            {% else %}
                                To be filled...
                            {% endif %}
                        </td>
                    </tr>
                </table>                
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Corresponding author{{ ":" if corresponding_authors_string.split(';;')|length <2 else "(s):" }}
                            </strong>
                        </td>
                        <td>
                            {% if corresponding_authors_string %}
                                {# {{ corresponding_authors_string | safe }} #}
                                {% set corresponding_authors_list = corresponding_authors_string.split(';;') %}
                                {% for corr_auth in corresponding_authors_list %}
                                    <p style="padding-left: 2em; text-indent:-2em">{{ corr_auth | safe }}<p/>
                                {% endfor %} 
                            {% else %}
                                To be filled...
                            {% endif %}
                        </td>
                    </tr>
                </table>                                    
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Live paper author:
                            </strong>
                        </td>
                        <td>
                            {% if created_authors_string %}
                                {# {{ created_authors_string | safe }} #}
                                {% set created_authors_list = created_authors_string.split(';;') %}
                                {% for create_auth in created_authors_list %}
                                    <p style="padding-left: 2em; text-indent:-2em">{{ create_auth | safe }}<p/>
                                {% endfor %} 
                            {% else %}
                                To be filled...
                            {% endif %}
                        </td>
                    </tr>
                </table>                    
            </p>
            {% if not ((created_author | length == 1) and (approved_author.firstname == created_author[0].firstname) and (approved_author.lastname == created_author[0].lastname)) %}
                <p>
                    <table>
                        <tr style="border:none">
                            <td style="width: 125px; vertical-align:top">
                                <strong style="font-weight:bolder">Approved by:
                                </strong>
                            </td>
                            <td>
                                {% if (approved_author.firstname != "") and (approved_author.lastname != "") %}
                                    {{ approved_author.firstname + " " + approved_author.lastname }}
                                    {% if approved_author.affiliation %}
                                        (<em>{{ approved_author.affiliation }}</em>)
                                    {% endif %}
                                {% else %}
                                    To be filled...
                                {% endif %}
                            </td>
                        </tr>
                    </table>                    
                </p>
            {% endif %}
        </div>
        <div class="rainbow-row">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br/>
        <div>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Journal:
                            </strong>
                        </td>
                        <td>
                            {% if journal %}
                                {{ journal | safe }}
                            {% else %}
                                <i>Not Available</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Download Url:
                            </strong>
                        </td>
                        <td>
                            {% if url %}
                                <a target="_blank" rel="noopener noreferrer" href="{{ url }}">{{ url }}</a>
                            {% else %}
                                <i>Not Available</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Citation:
                            </strong>
                        </td>
                        <td>
                            {% if citation %}
                                {{ citation }}
                            {% else %}
                                <i>Not Available</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Article DOI:
                            </strong>
                        </td>
                        <td>
                            {% if associated_paper_doi %}
                                <a target="_blank" rel="noopener noreferrer" href="{{ associated_paper_doi }}">{{ associated_paper_doi }}</a>
                            {% else %}
                                <i>Not Available</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
            <p>
                <table>
                    <tr style="border:none">
                        <td style="width: 125px; vertical-align:top">
                            <strong style="font-weight:bolder">Licence:
                            </strong>
                        </td>
                        <td>
                            {% if license %}
                                {{ license }}
                            {% else %}
                                <i>Not Available</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
        </div>
        <div class="note rounded">
            <h5>Abstract:</h5>
            {% if abstract %}
                {{ abstract }}
            {% else %}
                To be filled...
            {% endif %}
        </div>
        <h5>Resources</h5>
        <p>
            {% if resources_description %}
                {{ resources_description | safe }}
            {% endif %}
        </p>
        <ul class="collapsible expandable">
            {% for data in resources %}
                {% if data["type"] == "section_morphology" %}
                    {% if data["tabs"] | length <= 1 %}
                        {{ sectionMorphology(data=data) }}
                    {% else %}
                        {{ sectionMorphologyWithTabs(data=data, index=loop.index) }}
                    {% endif %}
                {% elseif data["type"] == "section_traces" %}
                    {% if data["tabs"] | length <= 1 %}
                        {{ sectionTraces(data=data) }}
                    {% else %}
                        {{ sectionTracesWithTabs(data=data, index=loop.index) }}
                    {% endif %}
                {% elseif data["type"] == "section_models" %}
                    {% if data["tabs"] | length <= 1 %}
                        {{ sectionModels(data=data) }}
                    {% else %}
                        {{ sectionModelsWithTabs(data=data, index=loop.index) }}
                    {% endif %}
                {% elseif data["type"] == "section_generic" %}
                    {% if data["tabs"] | length <= 1 %}
                        {{ sectionGeneric(data=data) }}
                    {% else %}
                        {{ sectionGenericWithTabs(data=data, index=loop.index) }}
                    {% endif %}
                {% elseif data["type"] == "section_custom" %}
                    {{ sectionCustom(data=data) }}
                {% else %}
                    {{ null }}
                {% endif %}
            {% endfor %}
        </ul>
        <br>
        <div class="rainbow-row">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>
