{# All Nunjucks macros defined here at the top #}

{% macro sectionMorphology(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{data["icon"]}}</i>{{data["title"]}}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                <p>{{data["description"]}}</p>
            {% endif %}

            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["dataFormatted"] %}
                            <tr>
                                <td>
                                    {{item["label"]}}
                                </td>
                                <td style="width: 175px">
                                    <a href='{{item["url"]}}' class="waves-effect waves-light">
                                        <i class="material-icons left">archive</i>Download
                                    </a>
                                </td>
                                <td style="width: 175px">
                                    <a href='https://neuroinformatics.nl/HBP/morphology-viewer-dev/?url={{item["url"]}}' target=" _blank" class="waves-effect waves-light">
                                        <i class="material-icons left">3d_rotation</i>View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro sectionTraces(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{data["icon"]}}</i>{{data["title"]}}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                <p>{{data["description"]}}</p>
            {% endif %}
            <div ng-app="neo-visualizer">
                <div style="margin-left:25px">
                    <ul class="collapsible" data-collapsible="expandable">
                        {% for item in data["dataFormatted"] %}
                            <li>
                                <div class="collapsible-header">{{item["label"]}}</div>
                                <div class="collapsible-body">
                                    <span>
                                        <visualizer-view source='{{item["url"]}}' height="300"></visualizer-view>
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro sectionModels(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{data["icon"]}}</i>{{data["title"]}}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                <p>{{data["description"]}}</p>
            {% endif %}

            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["dataFormatted"] %}
                            <tr>
                                <td>
                                    {{item["label"]}}
                                </td>
                                <td style="width: 175px">
                                    {% if item["url"] %}
                                        <a href='{{item["url"]}}' class="waves-effect waves-light">
                                            <i class="material-icons left">archive</i>Download
                                        </a>
                                    {% endif %}
                                </td>
                                <td style="width: 175px">
                                    {% if item["mc_url"] %}
                                        <a href='{{item["mc_url"]}}' target="_blank" class="waves-effect waves-light">
                                            <i class="material-icons left">pageview</i>View
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro sectionGeneric(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{data["icon"]}}</i>{{data["title"]}}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                <p>{{data["description"]}}</p>
            {% endif %}

            <div style="margin-left:25px">
                <table class="striped">
                    <tbody>
                        {% for item in data["dataFormatted"] %}
                            <tr>
                                <td>
                                    {{item["label"]}}
                                </td>
                                <td style="width: 175px">
                                    <a href='{{item["url"]}}' class="waves-effect waves-light">
                                        <i class="material-icons left">archive</i>Download
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro sectionCustom(data) %}
    <li>
        <div class="collapsible-header amber lighten-5">
            <i class="material-icons">{{data["icon"]}}</i>{{data["title"]}}
        </div>
        <div class="collapsible-body ">
            {% if data["description"] %}
                <p>{{data["description"]}}</p>
            {% endif %}
            <div style="margin-left:25px">
                {{ data["dataFormatted"] | safe }}
            </div>
        </div>
    </li>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            {% if page_title %}
                {{ page_title }}
            {% else %}
                Page Title
            {% endif %}
        </title>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/VF_paper_demo/live_paper/css/live_paper.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/src/visualizer.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/src/services.js"></script>
    </head>

    <body class="container">
        <br>
        <div class="box rounded centered">
            <a href="https://humanbrainproject.github.io/hbp-bsp-live-papers/" class="waves-effect waves-light" style="text-align:center; color:black">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img classname="ebrains-icon-small" src="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/VF_paper_demo/live_paper/imgs/ebrains_logo.png" alt="EBRAINS logo" style="width:25px; height:25px;"/>
                            </td>
                            <td>
                                <span class="title-style subtitle" style="padding-left:5px;">
                                    EBRAINS Live Papers
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </a>
            <h5 class="title-style">
                {% if associated_paper_title %}
                    {{ associated_paper_title }}
                {% else %}
                    To be filled...
                {% endif %}
            </h5>
        </div>
        <div>
            <p>
                <strong style="font-weight:bolder">Authors:
                </strong>
                {% if authors_string %}
                    {{ authors_string | safe  }}
                {% else %}
                    To be filled...
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Author information:
                </strong>
                {% if affiliations_string %}
                    {{ affiliations_string | safe  }}
                {% else %}
                    To be filled...
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Corresponding author:
                </strong>
                {% if corresponding_author.firstname %}
                    {{ corresponding_author.firstname }}
                    {{ corresponding_author.lastname }}
                    {% if corresponding_author.affiliation %}
                        (
                        <em>
                            {{ corresponding_author.affiliation }}
                        </em>
                        )
                    {% endif %}
                    {# {% if corresponding_author.email %}
                        (
                        <em>
                            <a href="mailto:{{corresponding_author.email}}" ">{{ corresponding_author.email }}</a>
                        </em>
                        )
                    {% endif %} #}
                {% else %}
                    To be filled...
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Created by:
                </strong>
                {% if created_authors_string %}
                    {{ created_authors_string | safe  }}
                {% else %}
                    To be filled...
                {% endif %}
            </p>
            {% if (approved_author.firstname != created_author[0].firstname) and (approved_author.lastname != created_author[0].lastname) %}
                <p>
                    <strong style="font-weight:bolder">Approved by:
                    </strong>
                    {{ approved_author.firstname + " " + approved_author.lastname }}
                    {% if approved_author.affiliation %}
                        (
                        <em>{{ approved_author.affiliation }}</em>
                        )
                    {% endif %}
                    {# {% if approved_author.email %}
                        (
                        <em>
                            <a href="mailto:{{approved_author.email}}" ">{{ approved_author.email }}</a>
                        </em>
                        )
                    {% endif %} #}
                </p>
            {% endif %}
        </div>
        <div class="rainbow-row">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br/>
        <div>
            <p>
                <strong style="font-weight:bolder">Journal:
                </strong>
                {% if journal %}
                    {{ journal }}
                {% else %}
                    <i>Not Available</i>
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Download Url:
                </strong>
                {% if url %}
                    <a href="{{ url }}">{{ url }}</a>
                {% else %}
                    <i>Not Available</i>
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Citation:
                </strong>
                {% if citation %}
                    {{ citation }}
                {% else %}
                    <i>Not Available</i>
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">DOI:
                </strong>
                {% if doi %}
                    <a href="{{ doi }}">{{ doi }}</a>
                {% else %}
                    <i>Not Available</i>
                {% endif %}
            </p>
            <p>
                <strong style="font-weight:bolder">Licence:
                </strong>{{ license }}</p>
        </div>
        <div class="note rounded">
            <h5>Abstract:</h5>
            {% if abstract %}
                {{ abstract }}
            {% else %}
                To be filled...
            {% endif %}
        </div>
        <h5>Resources</h5>
        <p>
            {% if resources_description %}
                {{ resources_description }}
            {% endif %}
        </p>
        <ul class="collapsible" data-collapsible="expandable">
            {% for data in resources %}
                {% if data["type"] == "section_morphology" %}
                    {{ sectionMorphology(data=data) }}
                {% elseif data["type"] == "section_traces" %}
                    {{ sectionTraces(data=data) }}
                {% elseif data["type"] == "section_models" %}
                    {{ sectionModels(data=data) }}
                {% elseif data["type"] == "section_generic" %}
                    {{ sectionGeneric(data=data) }}
                {% elseif data["type"] == "section_custom" %}
                    {{ sectionCustom(data=data) }}
                {% else %}
                    {{ null }}
                {% endif %}
            {% endfor %}
        </ul>
        <br>
        <div class="rainbow-row">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br>
        <br>
    </body>

</html>